<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title | safe}}</title>
        <meta name="author" content="{{author | safe}}">
        <meta name="description" content="{{description | safe}}">
    </head>
    <body>
        <nav>
        
        </nav>
        <main>
            {{mainContent | safe}}
        </main>
    </body>
</html>