header h1 {
	font-family: "Arial";
	text-align: center;
}

header p {

	font-family: "Arial";
	text-align: center;
	font-size: 25px;
	border-style:solid;
	border-color: Red;
	border-width: 10px;
	max-width: 50%;
	background-color:LightGrey;
}

body {
	background-color: LightSteelBlue;
	margin: 2%;
	padding: 3%;
}

nav {
	background-color: Linen;
	border-style: solid;
	border-width: 7px;
	border-color: LightGoldenRodYellow;
	max-width: 20%;
}

nav li {
	list-style-type: none;
	display: table;
}

nav li:hover {
	background-color: LightCoral;
}

nav li:active {
	background-color: Coral;
}

nav a {
	text-decoration: none;
}

nav a:visited {
	color: black;
}

.active{
	background-color: Pink;
}

main {
	background-color: Linen;
}

footer {
	text-align: center;
	font-family: "Helvetica";
}

table,td,th {
	border: 3px solid;
	border-color: Blue;
	border-collapse: collapse;
}

table td,th{
	padding: 6px;
}

table td {
	background-color: LightGrey;
}

table th {
	background-color: Grey;
}

input:required:valid {
	background-color: Mint;
	border-style: solid;
	border-color: Green;
	border-width: 3px;
}

input:required:invalid {
	background-color: Pink;
	border-style: solid;
	border-color: Red;
	border-width: 3px;
}

section {
	border-style: solid;
	border-color: Blue;
	border-width: 3px;
	margin-left: -2000px; 
	margin-right: 2000px; 
	height: 0px;
}

.show {
	margin-left: 50px;
	margin-right: 20%;
	height: 100px;
}