{% extends "clubBase.njk" %}

{% block metaStuff %}
        <title>Activities</title>
{% endblock %}
    
{% block main %}
    <header>
		<h1>Activities</h1>
	</header>
	<table>
		<tr>
			<th>Name</th>
			<th>Dates</th>
		</tr>
			{% for name, dates in activities %}
				<tr>
					<td>{{ name }}</td>
					<td>{{ dates }}</td>
				</tr>
			{% endfor %}
		
	</table>
{% endblock %}