{% extends "clubBase.njk" %}

{% block metaStuff %}
        <title>Add Activity</title>
{% endblock %}
    
{% block main %}
    <header id="top">
		<h1>New Activity</h1>
	</header>
				
	<form action="./submitActivity" method="get" id="form1">
		<div class ="grid-container">
			<div class="item1"><label for="name">Name: </label></div>
			<div class="item2"><input type="name" name="name" id="name" required></div>
			<div class="item3"><label for="dates">Dates: </label></div>
			<div class="item4"><input type="dates" name="dates" id="dates" required></div>
			<div class="item5"><input type="submit" value="Submit"></div>
		</div>
	</form>
{% endblock %}