<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block metaStuff %}
        <title>California Video Game Modders Club</title>
        {% endblock %}
        <link href="./club.css" rel="stylesheet">
		<style>
			{% block styleStuff %}
			{% endblock %}
		</style>
    </head>
    <body>
		<nav>
			
			<div class="flex-container">
				<div><a href="./">Home</a></div>
				<div><a href="./login">Login</a></div>
				<div><a href="./activities">Activities</a></div>
				<div><a href="./membership">Membership</a></div>
				{% if user.loggedin %}
				<div><a href="./logout">Logout</a></div>
				<div><a href="./addActivity">Add an Activity</a></div>
				{% endif %}
				{% if user.role == "admin" %}
				<div><a href="./memberList">Members</a></div>
				{% endif %}
			</div>
		</nav>
    <main>
        {% block main %}
		{% endblock %}
    </main>
    <footer>
        <p>&copy; 2021 Michael LaRussa</p>
    </footer>
    </body>
</html>