{% extends "clubBase.njk" %}

{% block metaStuff %}
        <title>Error</title>
{% endblock %}
    
{% block main %}
    <header id="top">
		<h1>Login Error</h1>
	</header>
				
	<p>Something went wrong!</p>
	<p>Please try logging in again, or contacting the site administrator. Error: 400</p>
{% endblock %}