{% extends "clubBase.njk" %}

{% block metaStuff %}
        <title>Member List</title>
{% endblock %}
    
{% block main %}
    <header id="top">
		<h1>Members List</h1>
	</header>
	
	<p>Coming soon!</p>
{% endblock %}