{% extends "clubBase.njk" %}

{% block metaStuff %}
        <title>Login</title>
{% endblock %}
    
{% block main %}
    <header id="top">
		<h1>Welcome, Member!</h1>
	</header>
				
	<form action="" method="get" id="form1">
		<div class ="grid-container">
			<div class="item1">Email:</div>
			<div class="item2">{{ user.email }}</div>
			<div class="item3">Role:</div>
			<div class="item4">{{ user.role }}</div>
		</div>
	</form>
{% endblock %}